.container {
  height: 100%;
  display: flex;
  align-items: top;
  justify-content: left;

  background-image : url(../../../assets/background.jpg);
  background-size : 100% 100%;
}
  .title {
    color: white;
    margin:0;
    font-size : 30px;
    padding : 10px 10px;
    float : right;
  }


